<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The HTML5 Herald</title>


</head>

<body>
  <div class="inner_content">
    <table id="maze_table">
    <% for i in 0..14 do %>
      <tr id = "row_<%=i%>">
      <% for j in 0..19 do %>
        <td id = "cell_<%=i*20+j%>">
          <div class = "cell_image" id = "cell_image_<%=i*20+j%>"></div>
          <div class = "cell_background_color"id = "cell_background_color_<%=i*20+j%>"></div>
        </td>
      <%end%>
      </tr>
    <%end%>

    </table>
    <button>Main Levels</button>
    <button>User Levels</button>
    <button>Create Level</button>
    <select id="selected_cell">
        <option value = "E">Empty Cell</option>
        <option value = "W">Wall Cell</option>
        <option value = "R">Red Lock</option>
        <option value = "r">Red Key</option>
        <option value = "B">Blue Lock</option>
        <option value = "b">Blue Key</option>
        <option value = "G">Green Lock</option>
        <option value = "g">Green Key</option>
        <option value = "Y">Yellow Lock</option>
        <option value = "y">Yellow Lock</option>

        <option value = "I">Ice Cell</option>
        <option value = "F">Finish Cell</option>

    </select>
  </div>

</body>
</html>
