<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The HTML5 Herald</title>


</head>

<body>
    <h1>TESTPAGE</h1>
    <table id="maze_table">
    <% for i in 1..15 do %>
      <tr id = "row_<%=i%>">
      <% for j in 1..20 do %>
        <td id = "cell_<%=i*20+j%>"></td>
      <%end%>
      </tr>
    <%end%>
    </table>
</body>
</html>
