<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The HTML5 Herald</title>


</head>

<body>
  <div class="sidenav" id ="sidenav">
    <div class = "headline">Rules</div>
    <ul>
      <li> WASD or Arrows to move</li>
      <li> R to reset the level</li>
      <li> P to run the the selected pathfinding algorithm
      <form>
        <input type="radio" name= "search" id="dijkstra" value="dijkstra" checked>dijkstra</br>
        <input type="radio" name= "search" id="depth_first_search" value="depth_first_search" >depth first search</br>
        <input type="radio" name= "search" id="a_star_search_strong" value="a_star_search_strong" >A* search (strong)</br>
        <input type="radio" name= "search" id="a_star_search_weak" value="a_star_search_weak">A* search (weak)</br>
      </form>
      </li>
      <li> X to save your custom level and export it to user levels

    </ul>
  </div>
  <div class="inner_content">
    <div id ="maze">
    <div id = "animated_cursor">
      <div class="cursor_quarter" id = "top_left"></div>
      <div class="cursor_quarter" id = "top_right"></div>
      <div class="cursor_quarter" id = "bottom_left"></div>
      <div class="cursor_quarter" id = "bottom_right"></div>  
    </div>

      <table id="maze_table">
        <% for i in 0..14 do %>
          <tr id = "row_<%=i%>">
          <% for j in 0..19 do %>
            <td id = "cell_<%=i*20+j%>">
              <div class = "cell_image" id = "cell_image_<%=i*20+j%>"></div>
              <div class = "cell_background_color"id = "cell_background_color_<%=i*20+j%>"></div>
            </td>
          <%end%>
          </tr>
        <%end%>

      </table>
    </div>
    <div id = "user_levels_action_bar">
      <i class="leftArrow" id = "user_level_down"></i>
        Level: <span id = "current_user_level"></span>/<span id = "max_user_level"></span>
      <i class="rightArrow" id = "user_level_up"></i>
    </div>
    <div id = "base_levels_action_bar">
      <i class="leftArrow" id = "base_level_down"></i>
        Level: <span id = "current_base_level"></span>/<span id = "max_base_level"></span>
      <i class="rightArrow" id = "base_level_up"></i>
    </div>
    <div id = "edit_mode_action_bar">
      <select id="selected_cell">
        <option value = "E">Empty Cell</option>
        <option value = "W">Wall Cell</option>
        <option value = "R">Red Lock</option>
        <option value = "r">Red Key</option>
        <option value = "B">Blue Lock</option>
        <option value = "b">Blue Key</option>
        <option value = "G">Green Lock</option>
        <option value = "g">Green Key</option>
        <option value = "Y">Yellow Lock</option>
        <option value = "y">Yellow Lock</option>

        <option value = "I">Ice Cell</option>
        <option value = "S">Start Cell</option>
        <option value = "F">Finish Cell</option>
      </select>
    </div>

    <br>
    <button id = "base_levels_button">Main Levels</button>
    <button id = "user_levels_button">User Levels</button>
    <button id = "edit_mode_button">Create Level</button>
    <button id = "dark_mode_button">Dark</button>

  </div>

</body>
</html>
