<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The HTML5 Herald</title>


</head>

<body>
  <div class="inner_content">
    <table id="maze_table">
    <% for i in 0..14 do %>
      <tr id = "row_<%=i%>">
      <% for j in 0..19 do %>
        <td id = "cell_<%=i*20+j%>">
          <div class = "cell_image" id = "cell_image_<%=i*20+j%>"></div>
          <div class = "cell_background_color"id = "cell_background_color_<%=i*20+j%>"></div>
        </td>
      <%end%>
      </tr>
    <%end%>

    </table>
    <button>Main Levels</button>
    <button>User Levels</button>
    <button>Create Level</button>
  </div>

</body>
</html>
