table{
    border-collapse:collapse;
    border: 1px solid black;
    position: relative;
    }
    
table td{
    border: 1px solid black;
    width:40px;
    height:40px;
}
#animated_cursor {
    width: 20px;
    height: 20px;
    background-color: gray;
    position: absolute;
    top: 10px;
    left: 10px;
}